{% extends 'base.html' %}

{% block head %}
<title>My Five</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="form">
      <h1 style="text-align: center">My Five</h1>
      <h2>Log In</h2>
        <form method="POST">
          <div>
            {{form.email.label}}
          </div>
          <div>
            {{form.email}}
          </div>
          <div>
            {{form.password.label}}
          </div>
          <div>
            {{form.password}}
          </div>
          <div class="submitbutton">
            <input id="submit" type="submit" value="Log In">
          </div>
        </form>
        <a href="/signup">Need to register? Sign up here!</a>
    </div>
</div>
{% endblock %}
