{% extends 'base.html' %}

{% block head %}
<title>My Five</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="form">
      <h1 style="text-align: center">My Five</h1>
      <h2>Sign Up</h2>
        <form method="POST">
          <div>
            {{form.email.label}}
          </div>
          <div>
            {{form.email(class_="form-control")}}
          </div>
          <div>
            {{form.password.label}}
          </div>
          <div>
            {{form.password(class_="form-control")}}
          </div>
          <div>
            {{form.confirm.label}}
          </div>
          <div>
            {{form.confirm(class_="form-control")}}
          </div>
          <div class="submitbutton">
            <input id="submit" type="submit" value="Sign Up">
          </div>
        </form>
        <a href="/login">Already have an account? Log in here!</a>
    </div>
</div>
{% endblock %}
