body {
  margin: 0;
  font-family: ebrima;
  text-align: center;
  background-color: hsla(109, 100%, 75%, 1);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}


.form {
  padding: 2%;
  width: 60%;
  border: 1px solid hsla(0, 0%, 71%, 1);
  border-radius: 50px;
  background-color: white;
  margin: auto;
}

#content {
    width: 70%;
}
