body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  background-color: hsl(203, 27%, 18%);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.sign_logo {
  letter-spacing: 5px;
}

.sign_title {
  margin: auto;
}

.form {
  padding: 2%;
  border: 1px solid hsla(0, 0%, 71%, 1);
  border-radius: 8px;
  background-color: white;
  margin: auto;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 8px;
}

.form-control{
  text-align: center;
  flex-grow: 1;
  padding: 12px 20px;
  padding-bottom: 1px;
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid #ccc;

  /*padding: 10px;*/
}
#submit{
  color: white;
  font-size: 16px;
  background-color: hsla(212, 100%, 50%, 0.52);
  padding: 12px 20px;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}
.sign_link{
  font-size: 12px;
}

table {
  margin: auto;
}

td {
  padding: 8px;
  text-align: left;
}

i {
  color: gray;
}

.task_actions{
  text-decoration: none;
}

#content {
    width: 100%;
}
