body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: hsl(203, 27%, 18%);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.sign_logo {
  letter-spacing: 5px;
}

.sign_title {
  margin: auto;
}

.form {
  padding: 2%;
  border: 1px solid hsla(0, 0%, 71%, 1);
  border-radius: 8px;
  background-color: white;
  margin: auto;
  min-width: 300px;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 8px;
}

.form-control{
  width: 100%
  flex-grow: 1;
  padding: 12px 20px;
  padding-left: 1px;
  padding-bottom: 1px;
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid #ccc;

  /*padding: 10px;*/
}

.task-form-control{
  text-align: left;
  flex-grow: 1;
  padding-bottom: 1px;
  margin: auto;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 100%;

  /*padding: 10px;*/
}

#submit{
  color: hsla(0, 0%, 71%, 1);
  font-size: 16px;
  background-color: hsla(0, 0%, 100%, 1);
  padding: 12px 20px;
  /*width: 100%;*/
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

#content {
  width: 100%;
}

.sign_link{
  margin: auto;
  text-align: center;
  font-size: 12px;
  padding: 40px;
  padding-bottom: 0px;
  flex-grow: 1;
}

td {
  padding: 8px;
  text-align: left;
  max-width: 500px;
  overflow-wrap: break-word;
}

i {
  color: gray;
}

.task_actions{
  text-decoration: none;
}
